---
layout: default
---

<div class="index-template">

    {% capture tags %}
        {% for tag in site.tags reversed %}
            {{ tag[0] }}
        {% endfor %}
    {% endcapture %}
    {% assign sortedtags = tags | split:' ' | sort: 'date' %}

    <div class="table-header-container">
        <div class="container">
            <table>
                <tr>
                    <th class="col-1">Start</th>
                    <th class="col-2">Paid End</th>
                    <th class="col-3">Client</th>
                    <th class="col-4">Work</th>
                    <th class="col-5 text-right">Invoice #</th>
                    <th class="col-6 text-right">RpH</th>
                    <th class="col-7 text-right">Subtotal</th>
                    <th class="col-8 text-right">Tax</th>
                    <th class="col-9 text-right">Total</th>
                </tr>
            </table>
        </div>
    </div>

    <div class="table-body-container">
        <div class="container">
            <table>
                {% for tag in sortedtags %}
                    <tr class="table-summary-header">
                        <th class="col-1 date-start" style="text-align:left">{{ tag }}</th>
                        <th class="col-2 date-end"></th>
                        <th class="col-3 client"></th>
                        <th class="col-4 title"></th>
                        <th class="col-5 text-right invoice"></th>
                        <th class="col-6 text-right rph"></th>
                        <th class="col-7 text-right subtotal"><span id="summary-sub-total-{{ tag }}"></span></th>
                        <th class="col-8 text-right tax"><span id="summary-tax-total-{{ tag }}"></span></th>
                        <th class="col-9 text-right total"><span id="summary-grand-total-{{ tag }}"></span></th>
                    </tr>
                    {% for post in site.tags[tag] %} 
                        <tr class="table-invoice-item client client-{% assign client-id = site.data.clients[post.client-id] %}{{ client-id.username }} {% if post.title == "template" %} hide-template-file {% endif %}">
                            <td class="col-1 date-start">{% if post.date %} {{ post.date | date: "%m/%d" }} {% else %} - {% endif %}</td>
                            <td class="col-2 date-end">{% if post.date-end %} {{ post.date-end | date: "%m/%d" }} {% else %} - {% endif %}</td>
                            <td class="col-3 client"><a class="client-{% assign client-id = site.data.clients[post.client-id] %}{{ client-id.username }}">{% assign client-id = site.data.clients[post.client-id] %}{{ client-id.name }}</a></td>
                            <td class="col-4 title"><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></td>
                            <td class="col-5 text-right invoice"><a onclick="printPage('{{ post.url | prepend: site.baseurl }}');">{{ post.project-id }}-{{ post.date | date: "%m%d%y"}}</a></td>
                            <td class="col-6 text-right rph"><span id="rph-{{ post.project-id }}"></span></td>
                            <td class="col-7 text-right subtotal">{%if post.revenue == null %} - {% endif %}<span id="sub-total-{{ post.project-id }}"></span></td>
                            <td class="col-8 text-right tax">{%if post.tax == null or post.revenue == null %} - {% endif %}<span id="tax-total-{{ post.project-id }}"></span></td>
                            <td class="col-9 text-right total">{%if post.revenue == null %} - {% endif %}<span id="grand-total-{{ post.project-id }}"></span></td>
                        </tr>
                    {% endfor %}
                {% endfor %}
            </table>
        </div>
    </div>     

    {% for tag in sortedtags %}
        {% for post in site.tags[tag] %}
            <script>
                // Revenue Per Hour

                var revenue_per_hour =
                    {% if post.revenue and post.hours %}
                        ( (({{ post.revenue }})/({{ post.hours }})/100) );
                    {% else %}
                         "-";
                    {% endif %}

                // HTML Insert
                document.getElementById('rph-{{ post.project-id }}').innerHTML = revenue_per_hour.toLocaleString('USD',{minimumFractionDigits: 1, maximumFractionDigits: 1});

            </script>
            <script>
                //  Table Project Totals (with or without tax)
                //  
                // Logic
                var estimateTotal = {{ post.revenue }} + 0;
    
                var tax = {% if post.tax %} + {{ post.tax }} {% else %} 0 {% endif %};

                // Values
                var sub_total = estimateTotal;
                var tax_total =  ( sub_total * tax );
                var grand_total = ( sub_total * (1 + tax) );

                // HTML Insert
                {% if post.revenue %} document.getElementById('sub-total-{{ post.project-id }}').innerHTML = sub_total.toLocaleString('USD',{minimumFractionDigits: 2, maximumFractionDigits: 2});{% endif %}
                {% if post.revenue and post.tax %} document.getElementById('tax-total-{{ post.project-id }}').innerHTML = tax_total.toLocaleString('USD',{minimumFractionDigits: 2, maximumFractionDigits: 2});{% endif %}
                {% if post.revenue %} document.getElementById('grand-total-{{ post.project-id }}').innerHTML = grand_total.toLocaleString('USD',{minimumFractionDigits: 2, maximumFractionDigits: 2});{% endif %}
            </script>
        {% endfor %}
    {% endfor %}

    {% for tag in sortedtags %}
        <script>
            // Header Summary Totals (All)
            // Logic
            var summary_sub_total = 
                {% for post in site.tags[tag] %} 
                    {% if post.revenue %}
                        {{ post.revenue }} + 
                    {% else %}
                        0 +
                    {% endif %}
                {% endfor %} 0;

            // Values 
            var summary_tax_total =  ( 
                (
                    {% for post in site.tags[tag] %}
                        {% if post.tax and post.revenue %}
                            {{ post.revenue }} + 
                        {% else %}
                            0 +
                        {% endif %} 
                    {% endfor %} 0
                ) * tax
            );
            var summary_grand_total = (
                {% for post in site.tags[tag] %}
                    ( {% if post.revenue %} {{ post.revenue }} {% else %} 0 {% endif %} {% if post.tax %} * (1 + {{ post.tax }}) {% else %} {% endif %} ) +
                {% endfor %} 0
            );

            // HTML Insert
            document.getElementById('summary-sub-total-{{ tag }}').innerHTML = summary_sub_total.toLocaleString('USD',{minimumFractionDigits: 2, maximumFractionDigits: 2});
            document.getElementById('summary-tax-total-{{ tag }}').innerHTML = summary_tax_total.toLocaleString('USD',{minimumFractionDigits: 2, maximumFractionDigits: 2});
            document.getElementById('summary-grand-total-{{ tag }}').innerHTML = summary_grand_total.toLocaleString('USD',{minimumFractionDigits: 2, maximumFractionDigits: 2});
        </script>
    {% endfor %} 

</div>
<script>
    // Toggle Clients
    {% for tag in sortedtags %}
        {% for post in site.tags[tag] %} 
            $('.table-body-container table td a.client-{% assign client-id = site.data.clients[post.client-id] %}{{ client-id.username }}').click(function(){
                $('.table-body-container table tr.client').hide();
                $('.table-body-container table tr.client-{% assign client-id = site.data.clients[post.client-id] %}{{ client-id.username }}').show();
                $('.table-body-container table td a.client-{% assign client-id = site.data.clients[post.client-id] %}{{ client-id.username }}').addClass('active');
            });
        {% endfor %}
    {% endfor %}
</script>






