
header {
	width: 100%;
	height: 7em;
	padding:2em 0 1em 0;
	background: $main-header-bg;
	.logo { 
		float:left;
		height:6em;
		width:6em;
		svg {
			width:100%;
			height:auto;
			fill: $c-main;
			width:100%;
			transition:all .5s ease-in-out;
			&:hover {
				fill:$c-accent;
			}
		}
	}
	h1 {
		float: left;
		font-size: .9em;
		text-transform: uppercase;
		color: $main-header-color;
		letter-spacing: 5px;
		padding: 0 0 0 13px;
		font-weight: 400;
		margin: 21px 0 0 0;
		span {
			font-weight: 300;
			text-transform: none;
			letter-spacing: initial;
		}
	}
}

.header-print-btn {
	position: absolute;
	right: 8%;
	background: none;
	top: 2.5em;
	border:none;
	padding: 5px;
	width:36px;
	svg {
		width:100%;
		height:auto;
		fill: $c-main;
		transition:all .5s ease-in-out;
		&:hover {
			fill:$c-accent;
		}
	}
}


