
.index-template {
	padding:0 0 5em 0;

	// Text Alignment
	th, td {
		text-align: left;
		&.text-right {
			text-align: right;
		}
	}
	// Table Labels
	.table-header-container {
		width: 100%;
		padding: 1.35em 0 1em 0;
		background: $index-table-header-bg;
		th {
			font-size: .6em;
			color: #fff;
			cursor: default;
			text-transform: uppercase;
			letter-spacing: 3px;
			font-weight: 500;
			color: $index-table-header-color;
		}
	}
	// Table Summary
	tr.table-summary-header {
		padding: 0 0 1.5em 0;
		border-bottom:2px solid $index-table-border-color;
		th {
			padding-top:4em;
			font-size:.9em;
			padding:4.5em 0 1em 0;
			font-weight: 100;
			color: $index-table-summary-color;
		}
	}
	// Table Data
	tr.table-invoice-item {
		td {
			font-size:.9em;
			letter-spacing: .5px;
			line-height: 1.6em;
			padding:.6em 0 0 0;
			color: $index-table-data-color;
		}
	}
}

// Hide Template File from Index
tr.hide-template-file {
	display: none;
}



