
$col-1: 4%;		// date start
$col-2: 5%;		// date end
$col-3: 8%;		// client
$col-4: 17%;	// project desc
$col-5: 9%;		// invoice #
$col-6: 5%; 	// rph
$col-7: 7%;		// subtotal
$col-8: 7%;		// tax
$col-9: 7%;		// total

// Table Format
.index-template {
	table {
		text-align: left;
		.col-1 { width: $col-1; }
		.col-2 { width: $col-2; }
		.col-3 { width: $col-3; }
		.col-4 { width: $col-4; }
		.col-5 { width: $col-5; }
		.col-6 { width: $col-6; }
		.col-7 { width: $col-7; }
		.col-8 { width: $col-8; }
		.col-9 { width: $col-9; }
		.text-right {
			text-align: right;
		}
	}
}

// Table Styles
.index-template {
	padding:0 0 5em 0;

	// Table Labels
	.table-header-container {
		width: 100%;
		padding: 1.35em 0 1em 0;
		background: $index-table-header-bg;
		th {
			font-size: .6em;
			color: #fff;
			cursor: default;
			text-transform: uppercase;
			letter-spacing: 3px;
			font-weight: 500;
			color: $index-table-header-color;
		}
	}
	// Table Summary Header
	tr.table-summary-header {
		padding: 0 0 1.5em 0;
		border-bottom:2px solid $index-table-border-color;
		th {
			padding-top:4em;
			padding:4.5em 0 1em 0;
			font-weight: 100;
			color: $index-table-summary-color;
		}
	}
	// Table Data
	tr.table-invoice-item {
		td {
			letter-spacing: .5px;
			line-height: 1.6em;
			padding:.6em 0 0 0;
			color: $index-table-data-color;
		}
	}
}

// Hide Template File from Index
tr.hide-template-file {
	display: none;
}



