
// TYPOGRAPHY

    $base-font-family: Source Sans Pro, Helvetica Neue, sans serif;
    $base-font-weight: 300;

// COLOURS 

    // MAIN
        $c-main:            #BAAD63;
        $c-main-dark:       #A99D58;
        $c-accent:          pink;

    // BODY STYLES
        $body-text-color:           #fff;
        $body-bg:                   #2B2E35;
        $body-link-color:           $c-main;
        $body-link-color-hover:     $c-accent;

    // SITE HEADER
        $main-header-bg:      #2B2E35;
        $main-header-color:   #fff;

    // INDEX
        $index-table-header-bg:         #2B2E35;
        $index-table-header-color:      #4C525F;

        $index-table-summary-color:     #fff;
        $index-table-border-color:      #353942;
        $index-table-data-color:        #BABDC3;
        $index-table-link-color:        $c-main;

    // Printed Page
        $print-page-text-color:         #555;
        $print-page-accent-color:       #FF7A91;